<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace= "fragments :: header">  </head>
<!--
  HOW TO USE: 
  data-theme: default (default), dark, light
  data-layout: fluid (default), boxed
  data-sidebar: left (default), right
-->

<body data-theme="default" data-layout="fluid" data-sidebar="left">
<div class="wrapper">
	<nav id="sidebar" class="sidebar">
		<div th:replace= "fragments :: sidebar"></div>

	</nav>

	<div class="main">
		<nav th:replace= "fragments :: mainheader"></nav>

		<main class="content">
			<div class="container-fluid p-0" >

				<div class="mb-3">
					<h1 class="h3 d-inline align-middle">Clients</h1>
					<button class="btn btn-success text-white ml-2" data-toggle="modal" data-target="#myModal">
						Add client
					</button>
				</div>

				<div class="row">
					<div class="col-xl-8">
						<div class="card">
							<div class="card-header pb-0">
								<div class="card-actions float-right">
									<div class="dropdown show">
										<a href="#" data-toggle="dropdown" data-display="static">
											<i class="align-middle" data-feather="more-horizontal"></i>
										</a>

										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Send follow up email</a>
											<a class="dropdown-item" href="#">Invite to meet</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>#</th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Email</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
									<tr th:each="customer : ${listCustomers}">
										<td ><img th:src="@{/img/avatars/avatar.jpg}" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"/></td>
										<td th:text="${customer.firstName}"></td>
										<td th:text="${customer.lastName}"></td>
										<td th:text="${customer.email}"></td>
										<td>
											<a th:href="@{/showFormForUpdate/{id}(id=${customer.id})}" class="badge bg-success  ">Update</a>
											<a th:href="@{/deleteCustomer/{id}(id=${customer.id})}" class="badge bg-danger">Delete</a>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
							<div th:replace= "fragments :: modal"></div>
						</div>
					</div>
					<div class="col-xl-4">
						<div th:replace= "fragments :: rightsidebar"></div>
					</div>
				</div>
			</div>
		</main>
		<div  th:replace= "fragments :: footer "></div>
	</div>
</div>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<script>
	document.addEventListener("DOMContentLoaded", function(event) {
		setTimeout(function(){
			if(localStorage.getItem('popState') !== 'shown'){
				window.notyf.open({
					type: "success",
					message: "Get access to all 500+ components and 45+ pages with AdminKit PRO. <u><a class=\"text-white\" href=\"https://adminkit.io/pricing\" target=\"_blank\">More info</a></u> 🚀",
					duration: 10000,
					ripple: true,
					dismissible: false,
					position: {
						x: "left",
						y: "bottom"
					}
				});

				localStorage.setItem('popState','shown');
			}
		}, 15000);
	});
</script></body>

</html>